
.about {
  padding: 80px 1.5rem;
  display: flex;
  gap: 3.5rem;
  padding: 2rem;
  padding-top: 0;
  margin-top:0;
    justify-content: center;
  align-items: center;
}
.myskills {
    display: grid;

  gap: 1.5rem;
}
.title {
  margin-bottom: 2rem;
}
.title h1{
  font-size: 3rem;
  color: #3a6bc9;
}

.about h3{
  font-size: 1.7rem;
  margin-top: 0.5rem;
  font-weight: 500;
    max-width: 600px;
}
.about p{
  font-size: 1rem;
  color: #555555;
  line-height: 1.6;
  max-width: 600px;
  margin: 10px 0;
}
.catg {
  padding: 1.5rem;
  border-radius: 12px;
  width: 400px;
  height: 180px;
  box-shadow: 0 4px 15px rgba(59, 109, 201, 0.4);
  color: white;
  background:#282c34;
}

.catg h2 {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  margin: 0 0 0.9rem 0.8rem;
}

.catg ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.6rem;
  flex-wrap: wrap;
  

}

.catg li {
  display: flex;
  gap: 0.75rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.98rem;
  padding: 0.6rem;
  border-radius: 8px;
}

.catg svg {
  font-size: 1.3rem;
}


.about a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  background-color: #3a6bc9;
    box-shadow: 0 4px 15px rgba(58, 107, 201, 0.2);
  padding: 7px 15px;
  border-radius: 5px;
  font-weight: 500;
      transition: all 0.3s ease;

}
.about a:hover {
  background-color: #072b6f;
  color: white;
  box-shadow: 0 6px 20px rgba(58, 107, 201, 0.3);
    
}


@media (max-width: 1250px) {
  .about {
    padding: 60px 1rem;
    gap: 5rem;
    display: grid;
    justify-items: center;
    margin:40px
  }
  .myskills{
    gap:1rem;
  }
  .catg {
    max-width: 450px;
    height: 170px;
  
  }

  .catg h2 {
    font-size: 1.15rem;
  }

  .catg li {
    font-size: 0.95rem;
    padding: 0.55rem;
  }
}