
.card {
  background-color: #ffffff;
  border-radius: 12px;
  width: 270px; 
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.04);
  display: grid;
  gap: 0.9rem;
  transition: transform 150ms ease, box-shadow 150ms ease;
  padding: 1rem;
  padding-bottom: 1.5rem;
}

.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}


.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  font-size: 1.15rem;
  color: #282c34;
}
  
.card p {
  font-size: 0.95rem;
  color: #555555;
  line-height: 1.4;
  margin: 15px 0;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.45rem;
  justify-content: left;
  margin: 10px 0;
  
}

.tags span{
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  color: rgba(58, 108, 201, 0.6);
  padding: 0.28rem 0.7rem;
  border-radius: 4px;
  border: 2px solid  rgba(58, 108, 201, 0.5);
  font-weight: bold;

}

.more {
  margin-top: 0.8rem;
  border-top: 2px solid #eef6ff;
  display: grid;
}

.more div {
  display: flex;
  gap:0.2rem;
}

.card a {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.5rem;
  background-color: #282c34;
  border-radius: 5px;
  text-align: center;
    border: solid 2px #282c34;
    font-weight: bold;
      transition: all 0.3s ease;

}

.card a:hover {
  background-color: white;
  color: #282c34;
  border: solid 2px #282c34;
    transform: translateY(-3px);

}

.card button {
  font-size: 0.85rem;
  color: #3a6bc9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: bold;
  padding: 5px 100px;
  max-width: 300px;
  background-color: #dfecf9;
  transition: all 0.3s ease;
  
}

.card button:hover {
    background-color: #3a6bc9;
    color: white;
      transform: translateY(-3px);


}



