
.contact {
  padding: 2rem 2rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}
.contact form{
  display:flex;
  gap:1rem;
}
.contact h2 {
  font-size: 3rem;
  color: #3a6bc9;
  margin-bottom: 2rem;
  text-align: center;
}

.contact form {
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e8f0;
  width: 100%;
  margin-bottom: 2rem;
}

.contact label {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #4a5568;
  display: block;
}

.contact input,
.contact textarea {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  width: 375px;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  background-color: #f8f9ff;
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
  border-color: #3a6bc9;
  background-color: white;
}

.contact textarea {
  height: 150px;
  resize: vertical;
}

.contact button {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  background-color: #3b6dc9;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.contact button:hover {
  background-color: #072b6f;

  transform: translateY(-3px);
}

  
  

@media (max-width: 900px) {
  .contact h2 {
    margin-top: 30px;
    font-size: 2.5rem;
  }
  
  .contact form {
    display: grid;
    justify-content: center;
  }
  
  .contact label {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .contact input,
  .contact textarea {
    padding: 1rem 0.6rem;
    font-size: 1rem;
    margin:  0;
  }
  
  .contact button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
    margin-top: 20px;
  }
  
  .links a {
    font-size: 0.9rem;
    padding: 0.6rem;
  }
}