.projects {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
}

.projects nav {
  display: flex;
  justify-content: space-around;
  gap: 20rem;
  flex-wrap: wrap;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  align-items: center;
}

.projects nav button {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.4rem 1.2rem;
  background-color: white;
  color: #3a6bc9;
  border: 2px solid #3a6bc9;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.projects nav button:hover {
  background-color: #3a6bc9;
  color: white;
}

.title{
  font-size: 3rem;
  color: #3a6bc9;
  margin-bottom: 2rem;
  text-align: center;
}
.projects nav div{
  display: flex;
  gap:0.3rem;
}

.projects nav button.active {
  background-color: #3a6bc9;
  color: white;
}


.scrolling {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 20px;
  padding: 15px;
  scrollbar-color: transparent transparent;
}



@media (max-width: 1400px) {
 .projects {
    margin-top: 0;
    padding-top: 70px;
  }
  .title{
    margin: 0;
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  .projects nav div {
    gap: 0.5rem;
    margin: 0;
    justify-content: center;
      flex-wrap: wrap;

  }
  
  .projects nav button {
    font-size: 0.85rem;
    padding: 0.4rem 1rem;
  }
  .projects nav {
    gap: 0;
  }
  
  
}

@media (max-width: 780px) {
  .projects {
    margin-top: 0;
    padding-top: 70px;
  }
  .title{
    margin: 0;
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  .projects nav div {
    gap: 0.5rem;
    margin: 0;
    justify-content: center;
      flex-wrap: wrap;

  }
  
  .projects nav button {
    font-size: 0.85rem;
    padding: 0.4rem 1rem;
  }
  .projects nav {
    gap: 0;
  }
  
  
}