@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    scroll-behavior: smooth;
scroll-padding-top: 120px;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9ff;
  min-height: 100vh;
  padding-top: 80px; 
}

.admin-container {
  max-width: 700px;
  margin:  auto;
  font-family: sans-serif;
}

.form-card {
  background: #f4f4f4;
  padding: 2rem;
  border-radius: 8px;
  margin: 50px;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-form input, .admin-form textarea {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.admin-form button {
  padding: 12px;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.back-link {
  display: block;
  margin-bottom: 20px;
  color: #007bff;
  text-decoration: none;
}