* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #ffffe3;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  padding: 20px;

  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1 {
  margin: 40px ;
    margin-top: 10px;
  font-size: 70px;
  font-weight: bold;
}
p {
  margin: 10px 0;
  font-size: 15px;
}
h2 {
  cursor: pointer;
  font-weight: bold;
}

.input_text {
  display: block;
}

/* Only large screens */
@media (min-width: 1024px) {
  .input_text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 20px;
  }
}
.form{
  padding: 10px;
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s;
  font-weight: bold;
  font-size: 13px;

}
.form:hover{
  border: 2px solid black;
  transition: background-color 0.3s;

}
.form:focus{
  outline: none;
  background-color: black;
  color: white;
  border: 2px solid black;
  transition: background-color 0.3s;
}
.options {
  padding: 10px 17px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: #f0e6b6;
    color: #333;

  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
    font-size: 14px;
}

.options:hover {
background-color: #333;

    color: #ffffe3;}

.options:focus {
  outline: none;
 background-color: #333;

    color: #ffffe3;
}



.btn{
  padding: 10px 17px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: #f0e6b6;
    color: #333;

  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
    font-size: 14px;

}
.btn:hover{
    background-color: #333;

    color: #ffffe3;
  }

.btn_x{
  padding: 5px 15px;
  margin: 5px;
  border: none;
  border-radius: 20px;
    color: #333;

  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
    font-size: 14px;
}
.btn_x:hover{
    background-color: #d40606;
        color: #ffffe3;

}

.dlt{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.dlt2{
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px 15px;
  border-radius: 10px;
 margin-top: 10px;
  border: white solid 2px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dlt2:hover{
  border: #333 solid 2px;

}

.container{
  gap: 20px;
  margin: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
}
.col{
  background-color: #f0e6b6;
  padding: 20px 25px;
  border-radius: 10px;
  min-width: 350px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


