* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffe3;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  padding: 20px;

  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1 {
  margin: 40px ;
    margin-top: 10px;
  font-size: 70px;
  font-weight: bold;
}
p {
  margin: 10px 0;
  font-size: 15px;
}
h2{
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;

}
h3 {
  padding: 0px 10px;
  font-size: 20px;
  border-radius: 100px;
  background-color: white;
  margin-right: 10px;
  font-weight: 900;

}

.col-header {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}

.task-count {
  padding: 0px 10px;
  font-size: 20px;
  border-radius: 100px;
  background-color: white;
  margin-right: 10px;
  font-weight: 900;
}

.input_text {
  display: block;
}

@media (min-width: 1048px) {
  .input_text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 20px;
  }
}
.form{
  padding: 10px;
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3s;
  font-weight: bold;
  font-size: 13px;
  box-sizing: border-box;

}
.form:hover{
  border: 2px solid black;
  transition: background-color 0.3s;

}
.form:focus{
  outline: none;
  background-color: black;
  color: white;
  border: 2px solid black;
  transition: background-color 0.3s;
  box-sizing: border-box;
}
.options {
  padding: 10px 17px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: #f0e6b6;
    color: #333;

  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
    font-size: 14px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.options:hover {
background-color: #333;

    color: #ffffe3;}

.options:focus {
  outline: none;
 background-color: #333;

    color: #ffffe3;
}



.btn{
  padding: 10px 17px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: #f0e6b6;
    color: #333;

  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
    font-size: 14px;

}
.btn:hover{
    background-color: #333;

    color: #ffffe3;
  }

.btn_x{
  padding: 6px 10px;
  margin: 5px;
  border: none;
  border-radius: 20px;
    color: #85858598;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
    font-size: 14px;
}
.btn_x:hover{
        color: #ff1717;
}
.btn_x:focus{
  outline: none;
}

.btn_x2{
  padding: 7px 15px;
  margin: 5px;
  border: none;
  border-radius: 20px;
    background-color: #333;
    color: #ffffe3;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
    font-size: 14px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 10px;

}
.btn_x2:hover{
        color:#ffffe3 ;
  background-color: #ff1717;
}
.btn_x2:focus{
  outline: none;
}

.btn_m{
  padding: 6px 10px;
  margin: 5px;
  border: none;
  border-radius: 20px;
    color: #85858598;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
    font-size: 14px;

}
.btn_m:hover{
        color: black;

}
.btn_m:focus{
  outline: none;
}




.dlt{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.dlt2{
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px 15px;
  border-radius: 10px;
 margin-top: 10px;
  border: white solid 2px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.dlt2:hover{
  border: #333 solid 2px;

}

.container{
  gap: 20px;
  margin: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 230px;
}

.col{
  background-color: #f0e6b6;
  padding: 20px 25px;
  border-radius: 10px;
  min-width: 350px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: left;

}

.popup {
  background: #ffffe3;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 3px;
  
}
textarea.form {
  min-height: 80px;
  max-height: 120px;
  
}

.lab{
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
}


.progress-box {
  position: fixed;
  left: 30px;
  top: 207px;
  background: #ffffe3;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 20px;
  height: 370px;
  width: 220px;

}


.progress-box p{
  font-size: 15px;
  font-weight: 500;
    text-align: left;
    padding-left: 10px;

  
}


.progress-circle {
  width: 145px;
  height: 150px;
  border-radius: 50%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: #ddd;
  color: white;
  font-size: 35px;
   
}


.progress-details {
  display: flex;
  gap: 15px;
}

@media (max-width: 1048px) {
  .progress-box {
  position: relative;
  top: 0px;
  left: 0;
  margin: 20px auto 10px auto;
  height: 200px;
  width: 400px;
    flex-direction: row;
    align-items: center;

    
 
}
.container{
  top: 0px;
  padding-left: 0px;
  margin: 20px auto 10px auto;
}



}

